<!DOCTYPE html>
<html lang="en">

<head>
  <title>TikTok Downloader - Download TikTok Videos in MP4 Format</title>
  <meta name="description"
    content="With our TikTok downloader, you can easily download any TikTok video in MP4 format. Simply enter the video URL and click Download." />
  <meta name="keywords" content="TikTok downloader, download TikTok videos, TikTok MP4 downloader" />
  <link rel="canonical" href="https://www.yasifys.tk/tiktok" />
  <meta property="og:title" content="TikTok Downloader - Download TikTok Videos in MP4 Format" />
  <meta property="og:description"
    content="With our TikTok downloader, you can easily download any TikTok video in MP4 format. Simply enter the video URL and click Download." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.yasifys.tk/tiktok" />
  <meta property="og:image" content="https://www.yasifys.tk/assets/img/meta/Card.png" />
  <meta property="og:image:alt" content="TikTok Downloader" />
  <meta property="og:site_name" content="https://www.yasifys.tk/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="TikTok Downloader - Download TikTok Videos in MP4 Format" />
  <meta name="twitter:description"
    content="With our TikTok downloader, you can easily download any TikTok video in MP4 format. Simply enter the video URL and click Download." />
  <meta name="twitter:image" content="https://www.yasifys.tk/assets/img/meta/Card.png" />
  <meta name="twitter:image:alt" content="TikTok Downloader" />

  <link rel="icon" type="image/png" href="/favicon/favicon32x32.png" />

  <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <% if (matomo) { %>
    <!-- Matomo -->
    <script>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "<%- matomo.URL %>";
        if (u.substr(-1) !== "/") {
          u += "/";
        }
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "<%- matomo.SITE_ID %>"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
    <% } %>
</head>

<body lang="en-GB">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Yasifys
        <span id="version" class="badge bg-light text-dark">v<%= version %></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Tools
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item active" href="/tiktok">TikTok Downloader</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Instagram Downloader</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Facebook Downloader</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a id="darkModeToggle" href="#" class="nav-link" onclick="toggleDarkMode()">Toggle Dark Mode</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/tyler-Github/YasifysTools" target="_blank">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="alert alert-warning" role="alert">
    This page is currently in development. Please check back later for
    updates.
  </div>

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title text-center">TikTok Downloader</h1>
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" pattern="https?://.+" id="video-url"
                placeholder="Enter TikTok video URL" />
              <button type="button" class="btn btn-primary" onclick="downloadVideo()">
                Download
              </button>
            </div>
            <div id="download-status"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    // Connect to server
    socket.on("connect", function () {
      console.log("Client connected to server.");
    });

    // Loss of connection to server
    socket.on("disconnect", function () {
      console.log("Client disconnected from server.");
    });

    // Download video
    function downloadVideo() {
      const url = document.getElementById("video-url").value;
      if (!url) return;

      socket.emit("download-video", url);
      document.getElementById("download-status").innerHTML = `
<div class="card ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">
<div class="card-body ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">
  <p id="downloading-text" class="card-text ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">Downloading...</p>
  <div class="progress mb-2 ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">
<div id="progress-bar" class="progress-bar bg-red ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}" role="progressbar"
style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  <p class="card-text ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">Your video will be available to download shortly.</p>
</div>
</div>
  `;
    }

    // Listen for download error
    socket.on("download-error", function (data) {
      const error = data.error;
      document.getElementById("download-status").innerHTML = `
  <div class="alert alert-danger ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}" role="alert">
    ${error}
  </div>
`;
    });

    // Listen for download progress
    socket.on("download-progress", function (data) {
      const progress = data.progress;
      const progressBar = document.getElementById("progress-bar");
      progressBar.value = progress;
      progressBar.innerHTML = progress + "%";
      progressBar.style.width = progress + "%";
      progressBar.setAttribute("aria-valuenow", progress);
    });

    // Listen for download complete
    socket.on("download-complete", function (data) {
      const { filename, thumbnail, title, FinishedName } = data;
      document.getElementById("download-status").innerHTML = `
    <div class="card ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">
      <img src="${thumbnail}" class="card-img-top ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}" alt="${title}">
      <div class="card-body ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">
        <h5 class="card-title ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">${title}</h5>
        <p class="card-text ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">Download complete!</p>
        <a href="download?url=${FinishedName}" class="btn btn-success ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">Download (5 min)</a>
        <a href="player?url=${FinishedName}&title=${title}" class="btn btn-success ${document.body.classList.contains('dark-mode') ? 'dark-mode' : ''}">Play (5 min)</a>
      </div>
    </div>
  `;
    });

    // Update progress bar every 100ms
    var progress = 0;
    setInterval(function () {
      progress += Math.random() * 10;
      if (progress > 100) progress = 100;

      var downloadingText = document.getElementById("downloading-text");

      // If progress-bar doesn't exist, return
      if (!document.getElementById("progress-bar")) return;

      // document.getElementById("progress-bar").style.width = progress + "%";
      document
        .getElementById("progress-bar")
        .setAttribute("aria-valuenow", progress);
      if (progress >= 100) {
        setTimeout(function () {
          if (!document.getElementById("downloading-text")) return;
          if (
            document.getElementById("downloading-text").innerHTML ==
            "Processing..."
          )
            return;
          document.getElementById("downloading-text").innerHTML =
            "Processing...";
        }, 1000);
      }
    }, 100);

    function toggleDarkMode() {
      const body = document.body;
      const darkModeButton = document.getElementById("darkModeToggle");

      // Toggle the dark-mode class on the body element
      body.classList.toggle('dark-mode');

      // Save the dark mode preference to localStorage
      if (body.classList.contains('dark-mode')) {
        localStorage.setItem('darkModePreference', 'dark');
        darkModeButton.innerHTML = "<i class='fas fa-sun'></i>";
      } else {
        localStorage.setItem('darkModePreference', 'light');
        darkModeButton.innerHTML = "<i class='fas fa-moon'></i>";
      }

      // Get all elements with class attribute
      const elementsWithClass = document.querySelectorAll('*[class]');

      // Loop through each element with class and toggle dark-mode
      elementsWithClass.forEach(element => {
        if (element !== body) {
          element.classList.toggle('dark-mode');
        }
      });
    }

    // Check for dark mode preference on page load
    document.addEventListener('DOMContentLoaded', function () {
      const darkModePreference = localStorage.getItem('darkModePreference');
      const body = document.body;
      const darkModeButton = document.getElementById("darkModeToggle");
      const elementsWithClass = document.querySelectorAll('*[class]');

      if (darkModePreference === 'dark') {
        elementsWithClass.forEach(element => {
          if (element !== body) {
            element.classList.toggle('dark-mode');
          }
        });
        body.classList.toggle('dark-mode');
        darkModeButton.innerHTML = "<i class='fas fa-sun'></i>";
      }

      if (darkModePreference === 'light') {
        elementsWithClass.forEach(element => {
          if (element !== body) {
            element.classList.toggle('light-mode');
          }
        });
        body.classList.toggle('light-mode');
        darkModeButton.innerHTML = "<i class='fas fa-sun'></i>";
      }
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>